
<div id='content'>
    <div class='content-title'>
        <h2>Edit Note for <%= @note.contact.full_name %></h2>
    </div>

    <%= flash[:error] %>
    <div id='note-form'>
    <% form_for @note do |f| %>
        <div><%= f.label :timestamp %> <%= f.datetime_select "timestamp" %></div>
        <div><%= f.label :text %> <%= f.text_area  :text, :rows => '6', :cols => '60'%></div>
        <div id='note-buttons'>
            <label id='attempt'>
                <%= f.check_box :contacted %>Contacted <%= @note.contact.first_names %>
            </label>
            <%= submit_tag "Save Note" %>
        </div>
    <% end %>
    </div>
</div>

