
<div id='content'>
    <div class='content-title'>
        <h2>Edit Pledge from <%= @pledge.contact.full_name %></h2>
    </div>

    <%= error_messages_for :pledge %>
    <div>
    <% form_for @pledge do |f| -%>
        <div><%= f.label :amount %> <%= f.text_field :amount, :size => 20 %></div>
        <div><%= f.label :frequency, "Gift Frequency" %><%= f.select :frequency, Pledge.frequencies.invert.to_a.sort_by { |e| e[0] } %></div>
        <div><%= f.label :start_date, "Start Date" %><%= f.date_select :start_date, :discard_day => true %></div>
        <div><%= f.label :end_date, "End Date" %><%= f.date_select :end_date,   :discard_day => true %></div>
        <div><label><%= f.check_box :lifelink, :class => 'checkbox' %>Lifelink Partner</label></div>
        <%= submit_tag 'Save Pledge' %>
    <% end -%>
    </div>
</div>

