
<div id='content'>
    <div class='content-title'>
        <h2>Edit <%= @contact.first_names %></h2>
    </div>

    <% form_for @contact do |f| %>
        <div style='float: left'><%= f.label :first_name, "First Name" %> <%= f.text_field :first_name %>  </div>
        <div><%= f.label :last_name,    "Last Name"     %> <%= f.text_field :last_name %>   </div>
        <div><%= f.label :spouses_name, "Spouse's Name" %> <%= f.text_field :spouses_name %></div>

        <div><%= f.label :details %> <%= f.text_area :details, 'cols' => 62, 'rows' => 8 %></div>
        
        <div>
            Phone Numbers
            <div id='phone-numbers'>
            <%= render :partial => 'phone_number', :collection => @contact.phone_numbers %>
            <%= render :partial => 'phone_number', :locals => { :phone_number => PhoneNumber.new }  %>
            </div>
            <%= add_partial_link "Add Phone Number", 'phone-numbers', 'phone_number', PhoneNumber.new %>
        </div>
        
        <div>
            Email Addresses
            <div id='email-addresses'>
            <%= render :partial => 'email_address', :collection => @contact.email_addresses %>
            <%= render :partial => 'email_address', :locals => { :email_address => EmailAddress.new } %>
            </div>
            <%= add_partial_link "Add Email Address", 'email-addresses', 'email_address', EmailAddress.new %>
        </div>

        <p><%= submit_tag "Save #{@contact.first_names}" %></p>
    <% end %>
</div>

