
<script type='text/javascript'>
var sort_key = 'name';

function toggle_tag(tag)
{
    tag = $(tag);

    if (tag.hasClassName('selected-tag'))
        tag.removeClassName('selected-tag');
    else
        tag.addClassName('selected-tag');

    reload_contacts();
}

function reload_contacts()
{
    var selected = $('filter-tag-list').getElementsBySelector('.selected-tag a');
    var params   = {
        'sort': sort_key,
        'name': $F('live-search-name'),
        'org':  $F('organization_name'),
    };
    for (var i=0, tag; tag = selected[i]; i++)
        params['tags[' + i + ']'] = tag.text;

    new Ajax.Updater({ success: 'contact-list' }, '<%= list_contacts_url %>', {
        method:     'get',
        parameters: params,
    });
}

function sort_by(key)
{
    sort_key = key;
    reload_contacts();
}
</script>

<div id='column'>
    <a class='add-link' href='/contacts/new'>Add Contact</a>

    <h3>Filter Contacts</h3>

    <div>
        <h4>By Name</h4>
        <input id='live-search-name' type='text' size='25'/>
        <%= javascript_tag "new Form.Element.Observer('live-search-name', 1, reload_contacts);" %>
    </div>

    <div>
        <h4>By Organization</h4>
        <%= text_field_with_auto_complete :organization, :name, { :size => 25 }, :skip_style => true %>
        <%= javascript_tag "new Form.Element.Observer('organization_name', 1, reload_contacts);" %>
    </div>

    <div>
        <h4>By Tag</h4>
        <div id='filter-tag-list' class='tag-list'>
<% @tags.each do |tag| %>
            <div class='tag' id='tag-<%= tag.id %>'>
                <%= link_to_function tag.name, "toggle_tag('tag-#{tag.id}')" %>
            </div>
<% end %>
        </div>
    </div>
</div>

<div id='content'>

    <div class='content-title'>
        <h2>Contacts</h2>
    </div>

    <div id='contact-list'>
        <%= render :partial => 'contacts' %>
    </div>

</div>

