
<div id='content'>
    <div class='content-title'>
        <h2>New Contact</h2>
    </div>

    <%= error_messages_for :contact %>
    <% form_for :contact, :url => contacts_path do |f| -%>
        <div style='float: left'><%= f.label :first_name, "First Name" %> <%= f.text_field :first_name %>  </div>
        <div><%= f.label :last_name,    "Last Name"     %> <%= f.text_field :last_name    %></div>
        <div><%= f.label :spouses_name, "Spouse's Name" %> <%= f.text_field :spouses_name %></div>

        <div> <%= f.label :referred_by, "Referred By" %> <%= f.collection_select :referred_by_id, @contacts, :id, :full_name, { :include_blank => true } %> </div>
        <div> <label>Organization</label> <%= text_field_with_auto_complete :organization, :name, {}, :skip_style => true %> </div>

        <div><%= f.label :details %> <%= f.text_area :details, 'cols' => 62, 'rows' => 8 %></div>

        <div>
            Phone Numbers
            <div id='phone-numbers'>
                <%= render :partial => 'phone_number', :collection => @contact.phone_numbers %>
            </div>
            <%= add_partial_link "Add Phone Number", 'phone-numbers', 'phone_number', PhoneNumber.new %>
        </div>

        <div>
            Email Addresses
            <div id='email-addresses'>
                <%= render :partial => 'email_address', :collection => @contact.email_addresses %>
            </div>
            <%= add_partial_link "Add Email Address", 'email-addresses', 'email_address', EmailAddress.new %>
        </div>

        <div>
            Street Addresses
            <div id='street-addresses'>
                <%= render :partial => 'address', :collection => @contact.addresses %>
            </div>
            <%= add_partial_link "Add Street Address", 'street-addresses', 'address', Address.new %>
        </div>


        <%= submit_tag 'Add Contact' %>
    <% end -%>

</div>

