
<div id='content'>
    <h2>New Contact</h2>

    <% form_for :contact, :url => contacts_path do |f| -%>
        <p style='float: left'>First Name    <%= f.text_field :first_name %>  </p>
        <p>Last Name     <%= f.text_field :last_name %>   </p>
        <p>Spouse's Name <%= f.text_field :spouses_name %></p>

        <p>Details <%= f.text_area :details, 'cols' => 62, 'rows' => 8 %></p>

        <p>
            Phone Numbers
            <div id='phone-numbers'>
                <%= render :partial => 'phone_number', :collection => @contact.phone_numbers %>
            </div>
            <%= add_partial_link "Add Phone Number", 'phone-numbers', 'phone_number', PhoneNumber.new %>
        </p>

        <p><%= submit_tag 'Add Contact' %></p>
    <% end -%>

</div>

