
<div id='content'>
    <h2>New Contact</h2>

    <% form_for :contact, :url => contacts_path do |f| -%>
        <p style='float: left'>First Name    <%= f.text_field :first_name %>  </p>
        <p>Last Name     <%= f.text_field :last_name %>   </p>
        <p>Spouse's Name <%= f.text_field :spouses_name %></p>

        <p>Details <%= f.text_area :details, 'cols' => 62, 'rows' => 8 %></p>

        <p>
            Phone Numbers
            <% fields_for :phone_numbers, :index => nil do |f| %>
                <p style='float: left'>Number <%= f.text_field :number %></p>
                <p>Label <%= f.text_field :label %></p>
            <% end %>
            <% fields_for :phone_numbers, :index => nil do |f| %>
                <p style='float: left'>Number <%= f.text_field :number %></p>
                <p>Label <%= f.text_field :label %></p>
            <% end %>
        </p>

        <p><%= submit_tag 'Add Contact' %></p>
    <% end -%>

</div>

