
<div id='column'>
    <%= link_to "Edit #{@contact.first_names}", { :action => 'edit', :id => @contact.id }, { :class => 'add-link' } %>

    <div id='contact-info'>
        <h3>Contact Info</h3>

<% if not @contact.phone_numbers.empty? %>
        <span class='contact-type'>Phone</span>
        <ul class='contact-list'>
    <% @contact.phone_numbers.each do | phone | %>
            <li> <%= phone.number %> <span class='contact-loc'><%= phone.label %></span></li>
    <% end %>
        </ul>
<% end %>

<% if not @contact.email_addresses.empty? %>
        <span class='contact-type'>Email</span>
        <ul class='contact-list'>
    <% @contact.email_addresses.each do | email | %>
            <li> <%= email.address %> <span class='contact-loc'><%= email.label %></span></li>
    <% end %>
        </ul>
<% end %>
    </div>

    <div id='details'>
        <h3>Details</h3>
        <p><%= @contact.details %></p>
    </div>
</div>

<div id='edit-tags-dialog' class='modal-dialog'>
    <%= link_to_function "X", "$('edit-tags-dialog').hide();", :class => 'X' %>
    <h2>Edit Tags for <%= @contact.first_names %></h2>
    <div id='edit-tags-list' class='tag-list'>
    </div>

    <div id='add-tag-box'>
        <form onSubmit='return addTag()'>
        <h2>Add a New Tag</h2>
        <%= text_field :tag, :name %>
        <%= submit_tag 'Create' %>
        </form>
    </div>
</div>
<script type='text/javascript'>
var tags = [
<%= @tags.sort { |a,b| a.name <=> b.name }.collect { |tag| "'#{tag.name}'" }.join(", ") %>
];
var selected_tags = [
<%= @contact.tags.collect { |tag| "'#{tag.name}'" }.join(", ") %>
];

var edit_tags_list = $('edit-tags-list')
</script>
<%= javascript_include_tag 'tag-editing.js' %>
<%= javascript_tag "$('edit-tags-dialog').hide(); new Dialog.EditTags('#{tags_contact_url(@contact)}');" %>


<div id='content'>
    <div id='name'>
        <h1><%= @contact.full_name %></h1>

        <div id='contact-tag-list' class='tag-list'>
            <%= render :partial => 'tags' %>
        </div>
    </div>

    <div id='add-note'>
    <% form_for :note, :url => notes_path do |f| -%>
        <%= f.hidden_field :contact_id, :value => @contact.id %>
        <%= f.text_area :text, 'cols' => 60, 'rows' => 6 %>
        <div id='note-buttons'>
            <div id='attempt'>
                <%= f.check_box :contacted %>Contacted <%= @contact.first_names %>
            </div>
            <%= submit_tag 'Add Note' %>
        </div>
    <% end %>
    </div>

    <ul id='contact-history'>

<% @contact.notes.sort{ |a,b| b.timestamp <=> a.timestamp }.each do |note| %>
        <li>
            <div class='header'>
                <span class='date'><%= note.timestamp.strftime("%A %b %d") %></span><%= note.timestamp.strftime(" at %I:%M %p") %>
            </div>
            <p><%= note.text %></p>
			      <p><%= link_to 'edit', :controller => 'notes', :action => 'edit' %></p>
        </li>
<% end %>

    </ul>
</div>

