
<div id='column'>
    <%= link_to "Edit #{@contact.first_names}", { :action => 'edit', :id => @contact.id }, { :class => 'add-link' } %>
    <%= link_to "Add New Pledge", { :controller => 'pledges', :action => 'new', :id => @contact.id }, { :class => 'add-link' } %>

    <div id='contact-info'>
        <h3>Contact Info</h3>

<% if not @contact.phone_numbers.empty? %>
        <span class='contact-type'>Phone</span>
        <ul class='contact-list'>
    <% @contact.phone_numbers.each do | phone | %>
            <li> <%= phone.number %> <span class='contact-loc'><%= phone.label %></span></li>
    <% end %>
        </ul>
<% end %>

<% if not @contact.email_addresses.empty? %>
        <span class='contact-type'>Email</span>
        <ul class='contact-list'>
    <% @contact.email_addresses.each do | email | %>
            <li> <%= email.address %> <span class='contact-loc'><%= email.label %></span></li>
    <% end %>
        </ul>
<% end %>

<% if not @contact.addresses.empty? -%>
        <span class='contact-type'>Street</span>
        <ul class='contact-list'>
    <% @contact.addresses.each do |addr| -%>
            <li> <%= addr.street %> <span class='contact-loc'><%= label_for_addr(addr) %></span><br/>
                 <% if not addr.street2.nil? %> <%= addr.street2 %><br/> <% end %>
                 <%= addr.city %>, <%= addr.state %> <%= addr.zip %> </li>
    <% end -%>
        </ul>
<% end %>

    </div>

    <div id='details'>
        <h3>Details</h3>
        <p><%= @contact.details %></p>
    </div>

    <div id='pledges'>
        <h3>Pledges</h3>
        <table>
<% pledges_sorted_by_date(@contact.pledges).each do |pledge| -%>
            <tr id='pledge-<%= pledge.id %>'>
                <td class='date-range'><%= date_range_for_pledge(pledge) %></td>
                <td class='lifelink'><%= image_tag('lifelink.gif', :title => 'Lifelink') if pledge.lifelink %></td>
                <td><%= amount_for_pledge(pledge) %></td>
                <td class='edit-link'><%= link_to 'edit', edit_pledge_url(pledge) %>
                                      <%= link_to_remote image_tag("trash.png"), :url => pledge_url(pledge), :method => :delete, :confirm => 'Are you sure you want to delete this pledge?'%></td>
            </tr>
<% end %>
        </table>
    </div>
</div>

<div id='edit-tags-dialog' class='modal-dialog'>
    <%= link_to_function "X", "$('edit-tags-dialog').hide();", :class => 'X' %>
    <h2>Edit Tags for <%= @contact.first_names %></h2>
    <div id='edit-tags-list' class='tag-list'>
    </div>

    <div id='add-tag-box'>
        <form onSubmit='return addTag()'>
        <h2>Add a New Tag</h2>
        <%= text_field :tag, :name %>
        <%= submit_tag 'Create' %>
        </form>
    </div>
</div>
<script type='text/javascript'>
var tags = [
<%= @tags.sort { |a,b| a.name <=> b.name }.collect { |tag| "'#{tag.name}'" }.join(", ") %>
];
var selected_tags = [
<%= @contact.tags.collect { |tag| "'#{tag.name}'" }.join(", ") %>
];

var edit_tags_list = $('edit-tags-list')
</script>
<%= javascript_include_tag 'tag-editing.js' %>
<%= javascript_tag "$('edit-tags-dialog').hide(); new Dialog.EditTags('#{tags_contact_url(@contact)}');" %>


<div id='content'>
    <div id='name' class='content-title'>
        <h1><%= @contact.full_name %></h1>

    <% if not @contact.organization.nil? -%>
        <div id='organization'>at <%= @contact.organization.name %></div>
    <% end -%>

    <% if not @contact.referred_by.nil? -%>
        <div id='referred-by'>referred by <%= link_to @contact.referred_by.full_name, @contact.referred_by %></div>
    <% end -%>

        <div id='contact-tag-list' class='tag-list'>
            <%= render :partial => 'tags' %>
        </div>
    </div>

    <div id='note-form'>
    <% form_for :note, :url => notes_path do |f| -%>
        <%= f.hidden_field :contact_id, :value => @contact.id %>
        <%= f.text_area :text, 'cols' => 60, 'rows' => 6 %>
        <div id='note-buttons'>
            <label id='attempt'>
                <%= f.check_box :contacted %>Contacted <%= @contact.first_names %>
            </label>
            <%= submit_tag 'Add Note' %>
        </div>
    <% end %>
    </div>

<% if not @contact.notes.empty? -%>

    <ul id='contact-history'>
        <li id='contact-history-title'>Contact History</li>

    <% @contact.notes.sort.each do |note| %>
        <li id='note-<%= note.id %>'>
            <div class='buttons'>
                <%= link_to 'edit', edit_note_url(note) %>
                <%= link_to_remote image_tag("trash.png"), :url => note_url(note), :method => :delete, :confirm => 'Are you sure you want to delete this note?'%>
            </div>
            <div class='header'>
                <span class='date'><%= note.timestamp.strftime("%A, %b %d") %></span><%= note.timestamp.strftime(" at %I:%M %p") %>
            </div>
            <p><%= note.text %></p>
        </li>
    <% end %>

    </ul>

<% end -%>

</div>

