
<div id='column'>
    <%= link_to "Edit #{@contact.first_names}", { :action => 'edit', :id => @contact.id }, { :class => 'add-link' } %>

    <div id='contact-info'>
        <h3>Contact Info</h3>

        <span class='contact-type'>Phone</span>
        <ul class='contact-list'>
<% @contact.phone_numbers.each do | phone | %>
            <li> <%= phone.number %> <span class='contact-loc'><%= phone.label %></span></li>
<% end %>
        </ul>
    </div>

    <div id='details'>
        <h3>Details</h3>
        <p><%= @contact.details %></p>
    </div>
</div>

<div id='content'>
    <div id='name'>
        <h1><%= @contact.full_name %></h1>
    </div>

    <div id='add-note'>
    <% form_for :note, :url => notes_path do |f| -%>
        <%= f.hidden_field :contact_id, :value => @contact.id %>
        <%= f.text_area :text, 'cols' => 60, 'rows' => 6 %>
        <div id='note-buttons'>
            <%= submit_tag 'Add Note' %>
        </div>
    <% end %>
    </div>

    <ul id='contact-history'>

<% @contact.notes.sort{ |a,b| b.timestamp <=> a.timestamp }.each do |note| %>
        <li>
            <div class='header'><span class='date'><%= note.timestamp.strftime("%A %b %d at %I:%M%p") %></span></div>
            <p><%= note.text %></p>
			      <p><%= link_to 'edit', :controller => 'notes', :action => 'edit' %></p>
        </li>
<% end %>

    </ul>
</div>

