<html>
    <head>
        <title><%= @page_title %> | mtdweb</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>

<% if current_user.is_admin %>
        <div id='admin-bar'>
            <%= link_to 'Create New User', :controller => 'users', :action => 'new' %>
        </div>
<% end %>

        <div id="banner">

<% if logged_in? %>
            <div id="account-info">
                <%= current_user.login %>
                <a href='/session/destroy'>Log Out</a>
           </div> 
<% end %>

            <span id="logo">mtdweb</span>

        </div>

        <div id='navbar'>
            <ul id='nav-links'>
                <li><%= link_to 'Contacts', contacts_path %></li>
            </ul>
        </div>

       <%= yield %>
    </body>
</html>

