<html>
    <head>
        <title><%= @page_title %> | mtdweb</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
        <div id="banner">
            <span id="logo">mtdweb</span>

<% if logged_in? %>
            <div id="account-info">
                <%= current_user.login %>
                <a href='/session/destroy'>Log Out</a>
           </div> 
<% end %>

        </div>

        <div id='navbar'>
            <ul id='nav-links'>
                <li><%= link_to 'Contacts', contacts_path %></li>
            </ul>
        </div>

       <%= yield %>
    </body>
</html>

